//colors
$violet: #514ca1;
$white: #f5f5f5f5;
$white2: #ffffff;
$silverGrey: #a5a5a5;
$black: #000000;
$box-shadow: #ddd;

:root {
    --violet: #{$violet};
    --white: #{$white};
    --white2: #{$white2};
    --silverGrey: #{$silverGrey};
    --black: #{$black};
    --box-shadow: #{$box-shadow};
}