body {
    position: relative;
    min-height: 100vh;
    background-color: $white;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 900px;
    min-height: 450px;
    background-color: $white2;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid $violet;
}

.heading {
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    color: $silverGrey;
    margin-bottom: 5px;
}