.right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 768px) {
        width: 100%;
        margin: 0 auto;
        align-self: center;
        justify-content: center;
        margin-top: 30px;

    }

    .generate-btn {
        @include button;

        &:hover {
            @include transitionAnimation;
            background-color: var(--silverGrey);
        }

        &:active {
            @include transitionAnimation;
            background-color: var(--violet);
        }
    }

    .qr-code {
        margin-top: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 768px) {
            margin-top: 20px;
        }

        canvas {
            width: 200px;
            height: 200px;

            @media (max-width: 768px) {
                width: 150px;
                height: 150px;
            }
        }
    }

    .download {
        margin-top: 10px;

        p {
            text-align: center;
            font-size: 12px;
            font-weight: 600;
            margin-top: 10px;
            color: var(--violet);
            text-transform: uppercase;
        }

        .download-btns {
            margin-top: 5px;
            display: flex;
            gap: 10px;

            .download-btn {
                @include button;
                padding: 10px 10px;
                border: 2px solid var(--violet);
                color: var(--violet);
                background-color: transparent;

                &:hover {
                    background-color: var(--violet);
                    color: var(--white2);
                    @include transitionAnimation;
                }

                &:active {
                    background-color: var(--silverGray);
                }
            }
        }
    }
}